<style>
    .navbar .flex-1 {
        flex: 1;
        flex-basis: 100%;
    }
</style>
<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark main-nav">
        <div class="container" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/glasses">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <form action="/glasses" method="GET">
                                    <button th:each="category : ${T(com.ukim.finki.optika.model.Category).values()}" th:value="${category.getName()}" th:text="${category.getName()}" id="category" name="category" class="dropdown-item" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/glasses/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="order-first order-md-0 d-flex justify-content-center">
                <a th:href="@{'/glasses'}"><img src="https://www.rodenstock.com/b2c/resources/_web_images_/18/big-circle-logo.png" style="width: 80px; height: 80px"></a>
            </div>
            <div class="collapse navbar-collapse flex-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="content: none">
                                Hello <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <form action="/logout">
                                    <button class="dropdown-item" type="submit">Log Out</button>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login">
                             Login
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/register">
                            Register
                        </a>
                    </li>

                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>