<div class="container" style="margin-top: 30px;" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${glasses.size()>0}">
        <div class="forCol text-center" th:each="gl:${glasses}" style="width: 32%; margin-top: 10px; margin-bottom: 30px; margin-left: 6px; margin-right: 6px; float: left; display: inline-block">
            <div class="product-grid4">
                <div class="product-image4">
                        <img class="pic-1" src="/imgs" th:src="@{${gl.getImgUrl()}}" style="width: 250px; height: 250px">
                </div>
                <div class="product-content">
                    <!--<h3 class="title"><a th:text="${gl.brand.getName()}" style="text-decoration: none; color: black"></a></h3>-->
                    <th:block th:with="var = ${gl.price} * ${gl.quantity}">
                        <div style="margin-bottom: 3px"><span>$</span><span class="price" th:text="${var}"></span></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${glasses.size()==0}">
        <div class="text-center">
            <h2><b>You don't have any orders.</b></h2>
        </div>
    </div>
</div>